%rebase('osnova_agent.html', naslov='')

<!--<a class="btn btn-primary" href="nepremicnina" role="button">Nepremičnine</a>-->
<!--<a class="btn btn-primary" href="komitent" role="button">Komitent</a>-->
<!--<a class="btn btn-primary" href="agent" role="button">Agent</a>-->
<!--<a class="btn btn-primary" href="posta" role="button">Pošta</a>-->
<!--<a class="btn btn-primary" href="podatki_prijavljenega"role="button">Moji podatki</a>-->

<a class="btn btn-primary" href="{{url('podatki_prijavljenega')}}" role="button">Profil</a>
<div class="space">
</div>
<br><a class="btn btn-primary" href="odjava" role="button">Odjava</a>
<div class="space">
</div>
