%rebase('osnova_komitent.html', naslov='AGENCIJE')

<table class="table table-hover"></a>
    <tr>
       <th>ID</th>
       <th>Ime agencije</th>
       <th>Mesto</th>
       <th>Poštna številka</th>
       <th>Agenti agencije</th>
    </tr>
    %for (id,ime, mesto, postna_st) in agencija:
      <tr>
         <td>{{id}}</td>
         <td>{{ime}}</td>
         <td>{{mesto}}</td>
         <td>{{postna_st}}</td>
         <td>
          <div>
            <form action="{{url('agenti_agencije_get', x=id)}}" method="get">
              <a href="{{url('agenti_agencije_get', x=id)}}" onclick="this.parentElement.submit()"-->.... poglej agente te agencije</a>
            </form>
          </div>
        </td>
      </tr>
    %end
    </table>


    