%rebase('osnova_agent.html', naslov='AGENTI')

<table class="table table-hover"> <a class="btn btn-primary" href="dodaj_agenta"role="button">Dodaj agenta</a>
    <tr>
       <th>Id</th>
       <th>Ime</th>
       <th>Priimek</th>
       <th>Plača</th>
       <th>Agencija</th>
    </tr>
    %for (id_agent, ime, priimek, plača, agencija, ime_agencije) in agent:
      <tr>
         <td>{{id_agent}}</td>
         <td>{{ime}}</td>
         <td>{{priimek}}</td>
         <td>{{plača}}</td>
         <td>{{agencija}} {{ime_agencije}}</td>
      </tr>
    %end
    </table>


    