%rebase('osnova_agent.html', naslov='')


<!--<a class="btn btn-primary" href="nepremicnina" role="button">Nepremičnine</a>-->
<!--<a class="btn btn-primary" href="komitent" role="button">Komitent</a>-->
<!--<a class="btn btn-primary" href="agent" role="button">Agent</a>-->
<!--<a class="btn btn-primary" href="posta" role="button">Pošta</a>-->
<!--<a class="btn btn-primary" href="podatki_prijavljenega"role="button">Moji podatki</a>-->

<div class="container mt-3">
    <ul>
    <li class="nav-item">
         <a class="nav-link" href="podatki_prijavljenega">Moji podatki</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="odjava">Odjava</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="spremeni_geslo">Spremeni geslo</a>
    </li>
    </ul>
</div>
