%rebase('osnova.html', naslov='NEPREMIČNINSKE AGENCIJE')


<!--<a class="btn btn-primary" href="nepremicnina" role="button">Nepremičnine</a>-->
<!--<a class="btn btn-primary" href="komitent" role="button">Komitent</a>-->
<!--<a class="btn btn-primary" href="agent" role="button">Agent</a>-->
<!--<a class="btn btn-primary" href="posta" role="button">Pošta</a>-->
<!--<a class="btn btn-primary" href="podatki_prijavljenega"role="button">Moji podatki</a>-->

<div class="container mt-3">
    <!--<h2>Nepremičninske agencije</h2>--> 
     <ul class="nav">
       <li class="nav-item">
         <a class="nav-link" href="nepremicnina">Nepremičnine</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="komitent">Komitent</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="agent">Agent</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="posta">Pošta</a>
      </li>
       <li class="nav-item">
         <a class="nav-link disabled" href="podatki_prijavljenega">Moji podatki</a>
       </li>
     </ul>