% setdefault('naslov', 'Dodajanje agenta')
% rebase('osnova.html')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%endS

  <form action="{{url('dodaj_agenta')}}" method="POST">
    <p>ID Komitenta: <input type="numeric" name="id" value="{{id}}"></p>
    <p>Ime: <input type="text" name="ime" value="{{ime}}"></p>
    <p>Priimek: <input type="text" name="priimek" value="{{priimek}}"></p>
    <p>Placa: <input type="numeric" name="placa" value="{{placa}}"></p>
    <p>Agencija: <input type="numeric" name="agencija" value="{{agencija}}"></p>
    <p><input type="submit" value="Dodaj"></p>
  </form>
