% setdefault('naslov', 'Dodajanje neprimičnine')
% rebase('osnova.html')

<form action="/dodaj_nepremicnino" method="post" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="id">ID</label>
        <input id="id" name="id" type="number" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="velikost">Velikost nepremičnine</label>
        <input id="velikost" name="velikost" type="number" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cena">Cena</label>
        <input id="cena" name="cena" type="number" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="ulica">Ulica</label>
    <input id="ulica" name="ulica" type="text" class="form-control" required
      oninput="this.setCustomValidity('')"
      oninvalid="this.setCustomValidity('Obvezno polje')"
      />
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="hisna_stevilka">Hišna številka</label>
    <input id="hisna_stevilka" name="hisna_stevilka" type="number" class="form-control" required
      oninput="this.setCustomValidity('')"
      oninvalid="this.setCustomValidity('Obvezno polje')"
      />
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="postna_stevilka">Poštna številka</label>
    <input id="postna_stevilka" name="postna_stevilka" type="number" class="form-control" required
      oninput="this.setCustomValidity('')"
      oninvalid="this.setCustomValidity('Obvezno polje')"
      />
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="leto_izgradnje">Leto izgradnje</label>
    <input id="leto_izgradnje" name="leto_izgradnje" type="number" class="form-control" required
      oninput="this.setCustomValidity('')"
      oninvalid="this.setCustomValidity('Obvezno polje')"
      />
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="kupuje_agencija">ID agencije, ki kupuje nepremičnino</label>
    <input id="kupuje_agencija" name="kupuje_agencija" type="number" class="form-control" required
      oninput="this.setCustomValidity('')"
      oninvalid="this.setCustomValidity('Obvezno polje')"
      />
  </div>
</div>
<div>
  <input type = "radio" name = "tip" value = "hisa"> Hiša
  <input type = "radio" name = "tip" value = "stanovanje"> Stanovanje
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="bazen">Ali ima hiša bazen?</label>
    <input id="bazen" name="bazen" type="number" class="form-control" 
      />
      <small id="agent" class="form-text text-muted">Če dodajate hišo z bazenom vpišite 1 in 0 sicer.</small>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="igrisce">Ali ima hiša igrišče?</label>
    <input id="igrisce" name="igrisce" type="number" class="form-control" 
      />
      <small id="agent" class="form-text text-muted">Če dodajate hišo z igriščem vpišite 1 in 0 sicer.</small>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="velikost_vrta">Vpišite velikost vrta okoli hiše.</label>
    <input id="velikost_vrta" name="velikost_vrta" type="number" class="form-control" 
      />
      <small id="agent" class="form-text text-muted">Če dodajate hišo z vrtom, vpišite velikost vrta.</small>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="nadstropje">V katerem nadstropju se nahaja stanovanje?</label>
    <input id="nadstropje" name="nadstropje" type="number" class="form-control" 
      />
      <small id="agent" class="form-text text-muted">Če dodajate stanovanje, vpišite v katerem nadstropju se nahaja.</small>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="balkon">Ali ima stanovanje balkon?</label>
    <input id="balkon" name="balkon" type="number" class="form-control" 
      />
      <small id="agent" class="form-text text-muted">Če dodajate stanovanje z balkonom vpišite 1 in 0 sicer.</small>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="parkirisce">Ali ima stanovanje zagotovljeno parkirno mesto?</label>
    <input id="parkirisce" name="parkirisce" type="number" class="form-control" 
      />
      <small id="agent" class="form-text text-muted">Če dodajate stanovanje z zagotovljenim parkirnim mestom vpišite 1 in 0 sicer.</small>
  </div>
</div>

<div class="form-row col">
  <button class="btn btn-primary" type="submit">
    Dodaj nepremičnino!
  </button>
</div>
</form></p>
