% setdefault('naslov', 'DODAJANJE OSEB V BAZO')
% rebase('osnova.html')

<form action="/dodaj_oseba" method="post" autocomplete="off">
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id">Emšo</label>
          <input id="id" name="id" type="text" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="ime">Ime</label>
          <input id="ime" name="ime" type="text" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="priimek">Priimek</label>
          <input id="priimek" name="priimek" type="text" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="priimek">Ulica</label>
        <input id="priimek" name="ulica" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="hisna_stevilka">Hišna številka</label>
        <input id="hisna_stevilka" name="hisna_stevilka" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input id="email" name="email" type="text" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="telefon">Telefonska številka</label>
          <input id="telefon" name="telefon" type="text" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="posta_id">Poštna številka</label>
          <input id="posta_id" name="posta_id" type="text" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="uporabnisko_ime">Uporabniško ime</label>
          <input id="uporabnisko_ime" name="uporabnisko_ime" type="text" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
        </div>
      </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="geslo">Geslo</label>
        <input id="geslo" name="geslo" type="password" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="agent">Tvoj agent</label>
      <input id="agent" name="agent" type="number" class="form-control" 
        />
        <small id="agent" class="form-text text-muted">Če se vpisuješ kot komitent, vpiši številko svojega agenta.</small>
    </div>
  </div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="agencija">Agencija</label>
    <input id="agencija" name="agencija" type="number" class="form-control" 
      />
      <small id="agent" class="form-text text-muted">Če se vpisuješ kot agent, vpiši številko svoje agencije.</small>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="placa">Plača</label>
    <input id="placa" name="placa" type="number" class="form-control" 
      />
      <small id="placa" class="form-text text-muted">Če se vpisuješ kot agent, vpiši plačo.</small>
  </div>
</div>
<div>
  <input type = "radio" name = "tip" value = "agent"> Agent
  <input type = "radio" name = "tip" value = "komitent"> Komitent
</div>

    <div class="form-row col">
      <button class="btn btn-primary" type="submit">
        Dodaj agenta ali komitenta!
      </button>
    </div>
  
  </form>

