%rebase('osnova_komitent.html', naslov='NEPREMIČNINSKE AGENCIJE')

<!--<a class="btn btn-primary" href="nepremicnina" role="button">Nepremičnine</a>-->
<!--<a class="btn btn-primary" href="hisa" role="button">Hiše</a>-->
<!--<a class="btn btn-primary" href="stanovanja" role="button">Stanovanja</a>-->
<!--<a class="btn btn-primary" href="podatki_prijavljenega"role="button">Moji podatki</a>-->

<a class="btn btn-primary" href="podatki_prijavljenega" role="button">Profil</a>
<div class="space">
</div>
<br><a class="btn btn-primary" href="odjava" role="button">Odjava</a>
<div class="space">
</div>
<br><a class="btn btn-primary" href="spremeni_geslo"role="button">Spremeni geslo</a>