%rebase('osnova_agent.html', naslov='KOMITENTI')

<table class="table table-hover"> <a class="btn btn-primary" href="{{url('dodaj_komitenta')}}"role="button">Dodaj komitenta</a>
    <tr>
       <th>ID</th>
       <th>Ime</th>
       <th>Priimek</th>
       <th>Kupuje nepremičnino</th>
       <th>Njegov Agent</th>
    </tr>
    %for (id_komitent, ime, priimek, kupuje_nepremicnino, njegov_agent) in komitent:
      <tr>
         <td>{{id_komitent}}</td>
         <td>{{ime}}</td>
         <td>{{priimek}}</td>
         <td>{{kupuje_nepremicnino}}</td>
         <td>{{njegov_agent}}</td>
         <td>
            <div>
              <form action="{{url('izbrisi_komitenta', id=id_komitent)}}" method="post">
                <a href="#" onclick="this.parentElement.submit()">Briši</a>
              </form>
            </div>
          </td>
      </tr>
    %end
    </table>