%rebase('osnova.html', naslov='VSE NEPREMIČNINE')

  <table class="table table-hover">
<a class="btn btn-primary" href="hisa" role="button">Hiše</a>
<a class="btn btn-primary" href="stanovanja" role="button">Stanovanja</a>
   <a class="btn btn-primary" href="dodaj_nepremicnino"role="button">Dodaj nepremičnino</a>
     <tr>
     <th>id</th>
     <th>Velikost</th>
     <th>Cena</th>
     <th>Ulica</th>
     <th>Hišna številka</th>
     <th>Poštna številka</th>
     <th>Leto izgradnje</th>
     <th>Kupuje agencija</th>
  </tr>
  %for (id,velikost,cena,ulica,hisna_stevilka,postna_stevilka,leto_izgradnje,kupuje_agencija) in nepremicnina:
    <tr>
       <td>{{id}}</td>
       <td>{{velikost}}</td>
       <td>{{cena}}</td>
       <td>{{ulica}}</td>
       <td>{{hisna_stevilka}}</td>
       <td>{{postna_stevilka}}</td>
       <td>{{leto_izgradnje}}</td>
       <td>{{kupuje_agencija}}</td>
       <td>
        <div>
          <form action="{{url('izbrisi_nepremicnino', id=id)}}" method="post">
            <a href="#" onclick="this.parentElement.submit()">Briši</a>
          </form>
        </div>
      </td>
      <td>
        <div>
          <form action="{{url('uredi_nepremicnino', id=id)}}" method="get">
            <a href="#" onclick="this.parentElement.submit()">Uredi</a>
          </form>
        </div>
      </td>
    </tr>
  %end
  </table>