%rebase('osnova.html', naslov='OSEBE')

<table class="table table-hover">
  <tr>
     <th>ID</th>
     <th>Ime</th>
     <th>Priimek</th>
     <th>Ulica</th>
     <th>Hišna številka</th>
     <th>e-mail</th>
     <th>Telefonska številka</th>
     <th>Pošta</th>
     <th>Uprabniško ime</th>
     <th>Geslo</th>
  </tr>
  %for (emso,ime,priimek,ulica,hisna_stevilka,email,telefon,postna_stevilka, kraj, uporabnisko_ime, geslo) in oseba:
    <tr>
       <td>{{emso}}</td>
       <td>{{ime}}</td>
       <td>{{priimek}}</td>
       <td>{{ulica}}</td>
       <td>{{hisna_stevilka}}</td>
       <td>{{email}}</td>
       <td>{{telefon}}</td>
       <td>{{postna_stevilka}} {{kraj}}</td>
       <td>{{uporabnisko_ime}}</td>
       <td>{{geslo}}</td>
    </tr>
  %end
  </table>