% setdefault('naslov', 'Moji podatki')
% rebase('osnova.html')

  <table class="table table-hover">
      <thead class="thead-light">
          <th></th>
          <th>Moji podatki</th>
          <th>Uredi</th>
      </thead>
      % for (uporabnisko_ime,ime,priimek,ulica,hisna_stevilka,email,telefon,posta_id) in oseba:
        <tr>
            <td>Uporabniško ime</td>
            <td>{{uporabnisko_ime}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Geslo</td>
            <td></td>
            <td><a href="spremeni_geslo">Spremeni geslo</a></td>
        </tr>
        <tr>
            <td>Ime</td>
            <td>{{ime}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Priimek</td>
            <td>{{priimek}}</td>
            <td><a href="uredi_priimek">Uredi priimek</a></td>
            <td></td>
        </tr>
        <tr>
            <td>Ulica</td>
            <td>{{ulica}}</td>
            <td><a href="uredi_ulico">Uredi ulico</a></td>
            <td></td>
        </tr>
        <tr>
            <td>Hišna številka</td>
            <td>{{hisna_stevilka}}</td>
            <td><a href="uredi_hisno_stevilko">Uredi hišno številko</a></td>
            <td></td>
        </tr>       
        <tr>
            <td>Email</td>
            <td>{{email}}</td>
            <td><a href="uredi_email">Uredi e-poštni naslov</a></td>
            <td></td>
        </tr>        
        <tr>
            <td>Telefon</td>
            <td>{{telefon}}</td>
            <td><a href="uredi_telefon">Uredi telefon</a></td>
            <td></td>
        </tr>
        <tr>
            <td>Poštna številka</td>
            <td>{{posta_id}}</td>
            <td><a href="uredi_posto">Uredi poštno številko</a></td>
            <td></td>
        </tr>



      % end



  </table>