% setdefault('naslov', 'Urejanje osebe')
% rebase('osnova.html')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="{{url('uredi_oseba')}}" method="POST">
    <div class="form-row">
        <div class="form-group col-md-5">
          <label for="ime">Novo ime:</label>
          <input id="ime" name="ime" type="text" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
    </div>
    <div class="form-row col">
        <button class="btn btn-info" type="submit">
          Uredi
        </button>
    </div
  </form>